<!DOCTYPE html>
<html>
<script src="./js/lib/angular.min.js"></script>
<script src="./js/lib/vis.js"></script>
<script src="./js/controller.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/jquery-ui.min.js"></script>

<script src="./js/lib/moment/moment.js"></script>
<script src="./js/lib/angular-moment/angular-moment.js"></script>

<link rel="stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/sunny/jquery-ui.css">

<style type="text/css">
    input {
        width: 200px;
        text-align: left
    }

    select {
        width: 250px; /* Ширина списка в пикселах */
    }

    .prokrutka {
        height: 200px; /* высота нашего блока */
        width: 300px; /* ширина нашего блока */
        background: #fff; /* цвет фона, белый */
        border: 1px solid #C1C1C1; /* размер и цвет границы блока */
        overflow-y: scroll; /* прокрутка по вертикали */
    }

</style>
<script type="text/javascript">
    $(function () {

        $('#dtstartpass').datepicker({ dateFormat: 'dd/mm/yy' });
        $('#dtendpass').datepicker({ dateFormat: 'dd/mm/yy' });
        $('#dtlesson').datepicker({dateFormat: 'dd/mm/yy'});

        $('#dtstartpass').datepicker($.datepicker.regional["ru"]);
        $('#dtendpass').datepicker($.datepicker.regional["ru"]);
        $('#dtlesson').datepicker($.datepicker.regional["ru"]);
    });
</script>
<link rel="stylesheet" href="./css/main.css">


<body>
<div class="title">
    <span>Информационная система "Абониментик"</span>
</div>
<div ng-init='init()' ng-app="myApp" ng-controller="myCtrl">
                    <table>
                        <tr>
                            <td valign="top">

                                <table>
                                    <tr>
                                        <td>
                                            <div class="usrsearch">
                                                <input placeholder="Фамилия или номер" ng-model="searchString"
                                                       size="25">
                                                <button ng-click="search()" ng-disabled="searchString.length==0">НАЙТИ
                                                </button>

                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>

                                            <div class="prokrutka">
                                                <table>
                                                    <tr ng-repeat="person in personList">
                                                        <td ng-click="onSelectPerson($event)" id="{{$index}}"> {{person.firstName}}
                                                            {{person.lastName}} {{person.cardNumber}}</td>
                                                    </tr>
                                                </table>
                                            </div>

                                        </td>
                                    </tr>
                                </table>

                            </td>

                            <td valign="top">
                                <div class="localtitle">Абонименты:</div>
                                <div class="prokrutka">
                                    <table>
                                        <th>Курс</th><th>Уроков</th><th>Осталось</th><th>Окончание</th>
                                        <tr ng-repeat="pass in currentPerson.passes">
                                            <td ng-click="onSelectPass($event)" id="{{$index}}">{{pass.course.name}}</td><td>{{pass.itemCount}}</td><td>{{pass.currentItemCount}}</td><td></td>
                                        </tr>
                                    </table>
                                </div>
                            </td>

                            <td valign="top">
                                    <table>
                                                    <tr>
                                                        <td>
                                                            <span>Курс: </span>
                                                        </td>
                                                        <td>
                                                            <select  size="1" >
                                                                <option>ЛАТИНА</option>
                                                                <option>БАЗОВЫЙ</option>
                                                                <option>БОДИАРТ</option>
                                                                <option>ЙОГА</option>
                                                                <option>ТАНГО</option>
                                                                <option>МАНЬЯК</option>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                    </tr>

                                                    <tr>
                                                        <td>
                                                            <span>Число занятий: </span>
                                                        </td>
                                                        <td>
                                                            <select  size="1" >
                                                                <option>1</option>
                                                                <option>4</option>
                                                                <option>8</option>
                                                                <option>12</option>
                                                                <option>16</option>
                                                                <option>МАНЬЯК</option>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <span>С: </span>
                                                        </td>
                                                        <td>
                                                            <div class="ui-widget">
                                                                <label for="dtstartpass"></label><input
                                                                    id="dtstartpass" ng-value="dtstartpass"/>
                                                            </div>
                                                        </td>
                                                    <tr>
                                                        <td>
                                                            <span>По: </span>
                                                        </td>
                                                    <td>
                                                        <div class="ui-widget">
                                                            <label for="dtendpass"></label><input
                                                                id="dtendpass" ng-value="dtendpass"/>
                                                        </div>
                                                    </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <span></span>
                                                        </td>
                                                        <td>
                                                            <button ng-click="addPass()">Новый абонимент</button>
                                                        </td>
                                                    </tr>
                                        <tr>
                                            <td>
                                                <span></span>
                                            </td>
                                            <td>
                                                <button ng-click="" ng-disabled="validateRmPass">Удалить</button>
                                            </td>
                                        </tr>
                                    </table>

                                </td>
                       </tr>


                        <tr>

                            <td valign="top">
                                <table>
                                    <button ng-click="newPerson()">Новый</button>
                                    <button ng-click="savePerson()" ng-disabled="!validPerson()">Сохранить</button>
                                    <tr>
                                        <td><span>Карточка: </span></td>
                                        <td><input placeholder="Карточка" ng-model="currentPerson.cardNumber" size="30">
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><span>Фамилия: </span></td>
                                        <td><input placeholder="Фамилия" ng-model="currentPerson.lastName" size="30">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span>Имя: </span></td>
                                        <td><input placeholder="Имя" ng-model="currentPerson.firstName" size="30"></td>
                                    </tr>
                                    <tr>
                                        <td><span>Отчество: </span></td>
                                        <td><input placeholder="Отчество" ng-model="currentPerson.midName" size="30">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span>Телефон: </span></td>
                                        <td><input placeholder="Телефон" ng-model="currentPerson.phoneNumber" size="30">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span>Комментарий: </span></td>
                                        <td><input placeholder="Комментарий" ng-model="currentPerson.comment" size="30">
                                        </td>
                                    </tr>

                                </table>

                            </td>
                            <td valign="top">
                                <div class="localtitle">Занятия:</div>
                                <div class="prokrutka">
                                    <table>
                                        <tr ng-repeat="lesson in currentPass.lessons">
                                            <td ng-click="onSelectLesson($event)" id="{{$index}}">
                                                {{lesson.date |date: "yyyy/dd/MM"}} {{lesson.course.name}}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                            <td valign="top">

                                <table>


                                    <tr>
                                        <td>
                                            <span></span>
                                        </td>
                                        <td>
                                            <select size="1">
                                                <option>ЛАТИНА</option>
                                                <option>БАЗОВЫЙ</option>
                                                <option>БОДИАРТ</option>
                                                <option>ЙОГА</option>
                                                <option>ТАНГО</option>
                                            </select>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <span></span>
                                        </td>
                                        <td>
                                            <div class="ui-widget">
                                                <label for="dtlesson"></label><input
                                                    id="dtlesson" ng-value="dtlesson"/>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <span></span>
                                        </td>

                                        <td>
                                            <button ng-click="addPass()">Списать занятие</button>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            <span></span>
                                        </td>
                                        <td>
                                            <button ng-click="" ng-disabled="validateRmLesson()">Отменить</button>
                                        </td>
                                    </tr>

                                    </td>
                                    </tr>


                                </table>

                            </td>
                        </tr>
                    </table>
</div>
</body>
</html>
