<!DOCTYPE html>
<html>
<script src="./js/lib/angular.min.js"></script>
<script src="./js/lib/vis.js"></script>
<script src="./js/controller.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="./css/main.css">


<body>
<div class="title">
    <span>Информационная система "Абониментик"</span>
</div>
<div ng-init='init()' ng-app="myApp" ng-controller="myCtrl">
                    <table>
                        <tr>
                            <td>
                                <div class="usrsearch">
                                    <br>
                                    <input placeholder="Введите фамилию или номер (через # или №)" ng-model="currentPersonCard" size="30"><br>
                                        <button ng-click="getUserByCard()">НАЙТИ</button><br>
									 <button ng-click="addUser()">НОВЫЙ</button><br>
                                    {{user.name}}
                                </div>
                            </td>
							<td>
                                <div class="user">
                                    <table>
                                        <tr>
                                            <td><span>Карточка: </span></td>
                                            <td><input placeholder="Карточка" ng-model="currentPerson.cardNumber" size="30"></td>
                                        </tr>
                                        <tr>
                                            <td><span>id: </span></td>
                                            <td><input placeholder="id" ng-model="currentPerson.id" size="30"></td>
                                        </tr>
                                        <tr>
                                            <td><span>Фамилия: </span></td>
                                            <td><input placeholder="Фамилия" ng-model="currentPerson.lastName" size="30"></td>
                                        </tr>
                                        <tr>
                                            <td><span>Имя: </span></td>
                                            <td><input placeholder="Имя" ng-model="currentPerson.firstName" size="30"></td>
                                        </tr>
                                        <tr>
                                            <td><span>Отчество: </span></td>
                                            <td><input placeholder="Отчество" ng-model="currentPerson.midName" size="30"></td>
                                        </tr>
                                        <tr>
                                            <td><span>Телефон: </span></td>
                                            <td><input placeholder="Телефон" ng-model="currentPerson.phoneNumber" size="30"></td>
                                        </tr>
                                        <tr>
                                            <td><span>Комментарий: </span></td>
                                            <td><input placeholder="Комментарий" ng-model="currentPerson.comment" size="30"></td>
                                        </tr>
                                        <tr>
                                            <td><span>Дата рождения: </span></td>
                                            <td><input placeholder="Дата рождения" ng-model="currentPerson.birthDate" size="30"></td>
                                        </tr>
                                        <tr>
                                            <td><span>Дата регистрации: </span></td>
                                            <td><input placeholder="Дата регистрации" ng-model="currentPerson.regDate" size="30"></td>
                                        </tr>
                                    <table>


									<button ng-click="addUser()" ng-show="selectedUser.length>0">СОХРАНИТЬ</button><br>
									  <div class = "localtitle">Абонименты: 
									   <div></div>
								       <div></div>
									  </div>
                                </div>
                            </td>
								<td>
                                <div class="user">
                                    <div class = "localtitle">Курс: {{selectedUser.name}} </div>
									<div class = "localtitle">С: {{selectedUser.name}} По: {{selectedUser.name}} </div>
									<div class = "localtitle">Число занятий: {{selectedUser.name}} </div>
									<button ng-click="addUser()" ng-show="selectedUser.length>0">ДОБАВИТЬ АБОНИМЕНТ</button><br>
									
                                </div>
                            </td>
                        </tr>
				       <tr>
						    <td>
								<button ng-click="addWorkout()" ng-show="selectedUser.length>0">Списать занятие: </button> Курс Дата Время<br> 
                                <div class="usrsearch">
                                   История посещений:
                                </div>
									<button ng-click="addUser()" ng-show="selectedUser.length>0">СТЕРЕТЬ АБОНИМЕНТ</button><br>
                            </td>
	       			   </tr>
                       
                  
                  </table>
</div>
        

</body>
</html>
